:root {
  --Primary-Brand:#4D5AE5;
  --Pressed-state:#404BBF;
  --Dark:#2E2F42;
  --Success: #31D0AA;
  --Text:#434455;
  --Subtle-Text:#8E8F99;
  --Accent:#E7E9FC;
  --Light:#F4F4FD;
  --Modal-overlay:rgba(46, 47, 66, 0.4);
  --Hero-background:rgba(46, 47, 66, 0.7);
  --B-g-color:#Ffffff;
  --Nav-color:rgba(231, 233, 252, 1);
  --Nav-color-secondary: rgba(255, 255, 255, 1);
}

body {
  color: var(--Text);
  background-color: var(--B-g-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 1440;
  
}

main {
  max-width: 1440;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.link {
  display: block;
}
/*
ul {
  list-style: none;
}*/

.list {
  list-style: none;
}
/*
a {
  text-decoration: none;
}
*/
/* Site nav*/

.container {
  max-width: 1440px;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
  
} 

.header-container {
  display: flex;
  align-items: center;
  height: 72px;
left: 0px;
top: 0px;
}

.site-logo {
  margin-right: 131px;
}


.nav-container {
  display: flex;

}
.site-nav a{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;  
  color: var(--Dark); 
  display: flex;
}
.nav-list {
  display: flex;
}

.site-nav.list {
  display: flex;
}

.site-logo .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;+
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .accent {
  color: var(--Light);
}
.logo {
  color :var(--Primary-Brand);
  text-decoration: none;
}  

.logo-name {
  color: var(--Dark);
}
.site-nav a {
  color:var(--Dark);
  text-decoration: none;
}

.site-nav :hover,
.site-nav :focus {
  color:var( --Pressed-state);

}
.site-nav :active {
  color:var( --Pressed-state);
}
.site-nav .link-current {
  color: var(--Primary-Brand);
}

.link-studio {
  color: var(--Dark);

}

.link-studio :hover,
.link-studio :focus {
  color: var(--Pressed-state);
}
.link {
  text-decoration: none;
}

.accent {
  color: var(--Dark);
}
/* Site address */

.auth-nav {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
}

.contact-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);
  display: block;

} 

.auth-nav-container {
  display:flex;
}

.auth-nav a {
  color: inherit;
  text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color:var( --Pressed-state);
}
.auth-nav a:active {
  color:var( --Pressed-state);
}

/* Site hero*/
.hero-title {
  color:var(--B-g-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  width: 496px;


}
.hero-link {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

}

.hero {
  background-color: var(--Dark);
 text-align: center;
 max-width: 1440;


}

/* S
ite section
Our advantages*/

.section-advantages {
  background-color: var(--B-g-color);
  
}
 
.section-features {
  color:var(--Dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  line-height: 1.07;
}


/* Site sectin What are we doing*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Dark);
}

.doing-title {
  line-height: 1.11;
  color: var(--Dark);
}

.doing-container {
  display: flex;
}
/* Site sectin Our Team
*/

.section-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--Dark);
}

.team-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Footer*/

.footer {
  background-color: var(--Dark);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Accent);
}

.logo-footer {

}

/* Portflio.html */

.advantages-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
/* Site Advantages */

.advantages-list {
  text-decoration: none;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;  
  letter-spacing: 0.02em;
  color: var(--Dark);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);

}
 /* Button */

 /*.button {
  color: var(--Primary-Brand);
  background-color: var(--Accent);
 }
 */
 .button.primary:hover,
 .button.primary:focus {
    color: var(--B-g-color);
    background-color: var(--Primary-Brand);
 }
 .button.primary:active {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
 } 
 .button.primary {
    color: var(--Primary-Brand);
    background-color: var(--Light);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
 } 
 .button.secondary {
    color: var(--B-g-color);
    background-color: var(--Primary-Brand); 
    font-family: inherit;
   
 }
.button.secondary:hover,
.button.secondary:focus {
  color: var(--B-g-color);
  background-color: var(--Pressed-state);
}